* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #1EBFC1;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}


/* =======================Common======================= */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 0 16px;
    line-height: 68px;
    background: #1EBFC1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Dấu ba chấm */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2
}

/* Vẫn xuống được dòng khi các chữ không có khoảng trắng */
.break-all {
    word-break: break-all;
}

.heading {
    font-weight: 700;
    color: #0D1111;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    font-size: 2.2rem;
}

/* =======================Header======================= */

.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;

}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 20px;
    font-size: 1.6rem;
    color: #2F3A3B;
}

.nav li.active {
    font-weight: 600;
}

.header .action {
    margin-left: 177px;
}

.header .action-link {
    font-size: 1.6rem;
    color: #494949;
}

.header .action-btn {
    display: inline-block;
    padding: 0px 16px;
    line-height: 48px;
    border: 1px solid #1EBFC1;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #1EBFC1;
    margin-left: 24px;
}

/* =======================Hero======================= */
.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;

}

/* =======================Hero left======================= */
.hero .content-block {
    width: 39%;

}

.hero .content-block .introduce {
    font-size: 1.4rem;
    color: #767E7E;
}

.hero .content-block .heading {
    margin-top: 18px;
    width: 458px;
}

.hero .content-block .desc {
    width: 374px;
    margin-top: 46px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9DA6A5;

}

.hero .content-block .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero .cta-group .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

/* =======================Hero right======================= */

.hero .media-block {
    margin-left: 71px;
    width: 61%;
    position: relative;

}

.hero .media-block .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.hero .media-block .hero-courses {
    background: #FEFEFD;
    display: flex;
    align-items: center;
    padding: 18px 25px;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    position: absolute;
    top: 149px;
    left: 0;
    width: 157px;
    margin-left: 25px;
}

.hero .hero-courses .label {
    margin-left: 16px;
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 15px;
    color: #0D1111;
}

.hero .hero-schedules {
    background: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 46px;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    padding: 16px 25px 23px;
}

.hero .hero-schedules .title {
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 15px;
    text-align: center;
    color: #0D1111;
}

.hero .hero-schedules .radio li {
    width: 74px;
    height: 6px;
    background: #EDF1F5;
    border-radius: 3px;
    margin-top: 12px;
}

.hero .hero-schedules .radio li:last-child {
    margin-top: 16px;
    width: 26px;
    margin-left: auto;
    margin-right: auto;

}

.hero .hero-schedules .radio li:first-child {
    margin-top: 16px;
}

.hero .hero-schedules .radio-in {
    width: calc(var(--custom-width, 10));
    background: #FB9899;
    border-radius: 3px;
    height: 100%;
}

.hero .students {
    background: #FEFEFD;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    padding: 17px 35px;
    border-radius: 24px;
    position: absolute;
    right: 45px;
    bottom: 41px;
}

.hero .students .title {
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 15px;
    color: #0D1111;
}

.hero .students .avatar-block {
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
}

.hero .students .avatar {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -8px;
}

.hero .students .avatar:last-child {
    background: #1EBFC1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .students .avatar span {
    font-weight: 500;
    font-size: 1.0rem;
    color: #FFFFFF;
}


/* =======================Features======================= */
.features .body {
    margin: 78px 146px 26px 0;
    padding: 52px 0;
}

.features .body .label {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767E7E;
}

.features .body .heading {
    margin-top: 18px;
    width: 577px;
}

.features .body .desc {
    width: 590px;
    font-size: 1.8rem;
    line-height: 1.68;
    color: #767E7E;
}

.features .body .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.features .item .img {
    width: 102px;
    height: 106px;
    background: var(--background-feature);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features .item .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2.0rem;
    color: #0D1111;
}

.features .item .desc {
    margin-top: 16px;
    width: 224px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9DA6A5;
}

.features .item .desc:first-child {
    width: 168px;
}

/* =======================Popular courses======================= */
.popular-courses {
    padding: 52px 0;
}

.popular-courses .label {
    font-weight: 700;
    font-size: 12px;
    color: #767E7E;
}

.popular-courses .heading {
    margin-top: 18px;
}

.popular-courses .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-courses .row .desc {
    margin-top: 18px;
    width: 525px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767E7E;
}

.popular-courses .row .view-all {
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: underline;
    color: #1EBFC1;
}

.course-list {
    display: flex;
    margin-top: 79px;
    gap: 47px;
}

.course-list .item {
    width: 33.33%;
    position: relative;

}

.course-list .item .thumb {
    width: 359px;
    height: 393px;
    object-fit: cover;
    background: #D0EFED;
    opacity: 0.7;
    border-radius: 8px;
}

.course-list .item .content {
    padding: 18px 82px 29px 25px;
    background: #FFFFFF;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    position: absolute;
    bottom: -124px;
    left: 17px;
    right: 17px;
}

.course-list .item .content .title a {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0D1111;
}

.course-list .content .fee {
    margin-top: 16px;
    font-size: 1.6rem;
    color: #767E7E;
}

.course-list .content .fee b {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0D1111
}

.course-list .content .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    color: #9DA6A5;
}

.course-list .info {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.course-list .info .count {
    font-size: 1.4rem;
    color: #9DA6A5;
    display: inline-flex;
    align-items: center;
}

.course-list .info .count::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}